# Slack Credentials
SLACK_BOT_TOKEN=xoxb-
SLACK_APP_TOKEN=xapp

# Google Cloud / Vertex AI Credentials
DATA_STORE_ID=your-data-store-id # Optional


GCP_PROJECT_ID=
ENGINE_ID=
LOCATION=

GOOGLE_GENAI_USE_VERTEXAI=1

LOW_CODE_AGENT_1_ID=<Your Agent 1 ID>
LOW_CODE_AGENT_2_ID=<Your Agent 2 ID>
LOW_CODE_AGENT_3_ID=<Your Agent 3 ID>
...
LOW_CODE_AGENT_N_ID=<Your Agent N ID>